.comment_container{
    width: 95%;
    height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 0 auto;
    padding: 10px 5px;
}
.commit_image_box{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    column-gap: 30px;
}

.commit_image{
    width: 60px;
    height: 60px;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.commit_image img{
    width: 80%;
    height: 80%;
}
.commit_box{
    display: flex;
    flex-direction: column;
    width: 95%;
    border: 2px solid grey;
    height: auto;
    align-items: start;
    position: relative;
    justify-content: start;
    column-gap: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.3);
    padding: 10px 10px 20px 10px;
}
.commit_text span{
    position: absolute;
    right: 5px;
    bottom: 5px;
}